#PhysicalActivityPageHeading{
    text-align: center;
    margin: 20px 0;
 
}

#PhysicalActivityPageHeading h1{
    color: #258CD0;
}

body{
    font-family:"khand",sans-serif;
}

h1 .pa-banner {
    color: #FFF;
}

.banner {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.banner-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
   }
   .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
    z-index: 2;
}

.banner .container {
    position: relative;
    z-index: 3;
}

.banner-display {
    font-size: 3rem;
    font-weight: bold;
    position: relative;
    z-index: 3;
}
 
.container h2 {
    color: #258CD0;
}

.container h3 {
    color: #258CD0;
}

.modal-header {
    color: #258CD0;
}
