/* General Styles */
body {
    font-family: 'Khand', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    color: #258CD0;
    font-weight: bold;
}

h2 {
    color: #2c3e50;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
}

/* Navigation Bar */
.navbar {
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
    max-height: 50px; /* Adjust the size as needed */
    margin-right: 10px; /* Space between logo and text */
}

.nav-link {
    font-weight: 600;
    color: #2c3e50 !important;
}

.nav-link:hover {
    color: #3498db !important;
}

.navbar-toggler-icon {
    filter: invert(50%);
}

/* Banner styling */
.banner {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white; /* Ensures all text inside the banner is white */
}

.banner-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
    z-index: 2;
}

.banner .container {
    position: relative;
    z-index: 3;
}

.banner-display {
    font-size: 3rem;
    font-weight: bold;
    position: relative;
    z-index: 3;
    color: white; /* Ensures the text within banner-display is white */
}

/* Enlarged Topic Buttons */
.button-container-fluid .btn {
    padding: 20px 40px; /* Increase padding for a larger button */
    font-size: 1.75rem;  /* Increase font size */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-container-fluid .btn:hover {
    transform: scale(1.1); /* Slightly enlarge button on hover */
}

/* Ensure the buttons are responsive */
@media (min-width: 576px) {
    .button-container-fluid .btn {
        padding: 25px 50px; /* Larger padding for larger screens */
        font-size: 2rem;  /* Larger font size for larger screens */
    }
}

/* Under Construction Page */
.construction-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-align: center;
    padding: 20px;
}

.construction-container h1 {
    color: #258CD0;
    font-weight: bold;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.construction-container p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.construction-icon {
    font-size: 5em;
    margin-top: 20px;
}

/* Footer */
footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
}
